.redditor__title.redditor__title_video
  = t 'redditor.title.video'
= redditor_validate f

- if f.object.youtube.present?
  %iframe(width="#{f.object.width || "100%"}" height="#{f.object.height || 315}" src="http://www.youtube.com/embed/#{f.object.youtube}" frameborder="0" allowfullscreen)
  %br
.line-form
  = f.label :youtube
  %br
  = f.text_field :youtube, class: "video-block-input"
.line-form
  = f.label :width
  %br
  = f.text_field :width, :size => 10
.line-form
  = f.label :height
  %br
  = f.text_field :height, :size => 10