%h1 Article editor
%p= link_to "back", [:admin, :articles]

= form_for [:admin, @article], html: {multipart: true} do |f|
  %ul.errors
    - @article.errors.full_messages.each do |error|
      %li= error
  %div
    = f.label :title
    = f.text_field :title

  %div= render "redditor/admin/base/redditor", f: f
  = f.submit "Submit"
