%h1 Edit article

= form_for [:admin, @article], html: {multipart: true} do |f|
  %ul.errors
    - @article.errors.full_messages.each do |error|
      %li= error
  %div
    = f.label :title
    = f.text_field :title

  %div= render "redditor/page", {f: f}
  = f.submit "Submit"
