.rd__cell.rd__video{ "data-form-object" => f.object_name }
  = f.hidden_field :position
  = f.hidden_field :container_id
  = f.hidden_field :id
  .rd__hor-handle.js-handle.fa.fa-arrows-h

  - if f.object.link.present?
    = image_tag "http://img.youtube.com/vi/#{f.object.link}/0.jpg", class: 'rd__video__preview'

  .form-group.mb0{ class: ('has-error' if f.object.errors.any?) }
    = f.text_field :link, placeholder: 'YouTube Video Id', class: 'form-control'
