= f.fields_for :page, f.object.page do |p|

  - unless f.object.new_record?
    %dl.redditor{data: {"sort-url" => url_for(redditor.sort_admin_page_path(p.object))}}
      - p.object.content_blocks.each do |content_block|
        = render partial: "redditor/admin/pages/content_block", locals: {p: p, page: p.object, content_block: content_block}, :layout => "redditor/admin/pages/wrap_dd"

    %div.redditor-add-blocks
      %p
        = link_to t('redditor.add.text_block'), redditor.new_admin_page_text_block_path(f.object.page), remote: true, class: "new-block add-txt"
        = link_to t('redditor.add.video_block'), redditor.new_admin_page_video_block_path(f.object.page), remote: true, class: "new-block add-video"
        = link_to t('redditor.add.image_block'), redditor.new_admin_page_image_block_path(f.object.page), remote: true, class: "new-block add-photo"
        = link_to t('redditor.add.slider_block'), redditor.new_admin_page_slider_block_path(f.object.page), remote: true, class: "new-block add-slider", data: {method: "POST"}

    = content_for :js, javascript_include_tag("admin/redditor")