.redditor__title
  = t 'redditor.title.slider'
  = image_tag 'redditor/add_slider_big.png'
= redditor_validate f

.redditor__sep

- unless f.object.new_record?
  %ul.slider-block-images{data: {"sortable-url" => redditor.sort_admin_page_slider_block_images_path(f.object.page_id, f.object.id)}}
    = render partial: "redditor/admin/pages/slider_block_image", collection: f.object.images, :as => :i

.redditor__sep

- unless f.object.new_record?
  .b-button.js-fileapi-wrapper
    .b-button__text= t("redditor.add.upload_images")
    = file_field_tag :src, :class => "b-button__input redditor__js-fileapi", name: nil, :multiple => true, data: {"upload-url" => redditor.admin_page_slider_block_images_path(f.object.page_id, f.object.id)}