.tit-form
  = t 'redditor.title.text'
  = image_tag 'admin/add_txt_big.png'
= redditor_validate f
.ru_lang
  = f.text_area :body, size: "25x15"#, class: "nowred"

.en_lang
  = f.globalize_fields_for :en do |g|
    = g.text_area :body, :size => "25x15"